@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "mighty-souly";
  src: url("/fonts/mighty-souly.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "mighty-souly";
}

@keyframes colorShift {
  0% {
    color: #ff00ff;
  }
  25% {
    color: #00ffff;
  }
  50% {
    color: #ffff00;
  }
  75% {
    color: #ff0000;
  }
  100% {
    color: #00ff00;
  }
}

.trippy-text {
  font-weight: bold;
  animation: colorShift 3s infinite ease-in-out;
}


